<fd-shellbar>
  <fd-shellbar-logo>
    <a
      href="#"
      class="fd-shellbar__logo fd-shellbar__logo--image-replaced"
      aria-label="SAP"
    ></a>
  </fd-shellbar-logo>

  <fd-shellbar-title>CONET Angular App</fd-shellbar-title>

  <fd-shellbar-actions
    [user]="user"
    [userMenu]="userMenu"
    [closePopoverOnSelect]="true"
  ></fd-shellbar-actions>
</fd-shellbar>

<section class="fd-section">
  <fd-breadcrumb>
    <fd-breadcrumb-item>
      <a fd-link routerLink="../../avatar">Home</a>
    </fd-breadcrumb-item>
    <fd-breadcrumb-item>
      <a fd-link routerLink="../../alert">Docs</a>
    </fd-breadcrumb-item>
    <fd-breadcrumb-item>
      <a fd-link routerLink="../../bar">Surprise</a>
    </fd-breadcrumb-item>
  </fd-breadcrumb>
  <h1 class="fd-title">Fundamental Ngx</h1>
  <p class="fd-text">
    Fundamental Ngx is a library of Angular components based on the SAP Fiori
    Fundamentals project.
  </p>
</section>
<section>
  <fd-checkbox label="Fundamental Ngx Checkbox"></fd-checkbox>
  <button fd-button>Hello</button>
  <button fd-button fdType="emphasized">Important</button>
  <button fd-button fdType="ghost">Ghost</button>
  <button fd-button fdType="positive" ariaLabel="Positive">Positive</button>
  <button fd-button fdType="negative" ariaLabel="Negative">
    Don't push me
  </button>
  <button fd-button fdType="attention" ariaLabel="Attention">Watch out</button>
  <button fd-button fdType="transparent" ariaLabel="Transparent">
    Get Your App
  </button>
</section>
